$darks: #474259;
$primary-color: #4A5FD9;
$secondary-color: #F199F2;
$bg-color: #EEF1F6;
$theme-font: 'Poppins', sans-serif;
$transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;

@import url(https://fonts.googleapis.com/css?family=Sacramento:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html, body {
    font-family: $theme-font;
    background-color: $bg-color;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.navbar {
    background-color: $primary-color;
    position: fixed;
    z-index: 100;
}

.navdiv {
    background: $primary-color;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        text-decoration: none;
    }
    .logodiv {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;

        .logo {
            font-size: 4rem;
            color: white;
        }

        .name {
            font-size: 4rem;
            font-family: 'Sacramento', cursive;
            color: white;
        }
    }

    .logout-div {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;

        .logout {
            background-color: $primary-color;
            color: white;
            font-family: $theme-font;
            font-size: 1.5rem;
            height: 4rem;
            border-radius: 0.5rem;
            transition: $transition;
            border: 1px solid white;

            &:hover {
                background-color: white;
                color: $primary-color;

            }
        }

        .profile {
            img {
                height: 4rem;
                width: 4rem;
                object-fit: cover;
                overflow: hidden;
                border-radius: 0.5rem;
            }
        }
    }
}

// Footer
.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    box-shadow: 0 0 3px grey;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    color: grey;
    background-color: white;
}

.content-wrapper {
    margin-top: 20vh;
    position: relative;
}

.sidebar {
    position: fixed;
    width: max-content;
}

.profile-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;

    &:hover {
        cursor: pointer;
    }

    .profile-pic img {
        height: 5rem;
        width: 5rem;
        border-radius: 0.5rem;
    }

    .profile-name {
        line-height: 1.2rem;
        font-size: 1.5rem;
        color: $darks;
        a{
            color: $secondary-color;
        }

        .full-name {
            font-weight: 600;
        }

        .username {
            font-weight: 300;
        }
    }
}

.categories {
    &, a{
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: $darks;
    text-decoration: none;

    .categories-title {
        border-bottom: 1px solid rgb(224, 224, 224);
        font-weight: 700;
    }

    .category {
        border-bottom: 1px solid rgb(224, 224, 224);
        font-weight: 300;
        transition: $transition;

        &:hover {
            background-color: rgb(224, 224, 224);
            cursor: pointer;
        }
    }

    .active-category {
        color: $primary-color;
        border-left: 3px solid $primary-color;
        font-weight: 500;
    }}
}

.new-pitch {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: flex-start;
    width: 100%;

    .current-user-pic img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 0.5rem
    }

    .send {
        margin-left: auto;
        font-size: 2.5rem;
        color: $primary-color;
    }

    .new-input {
        width: 80%;

        textarea {
            border: none;
            width: 80%;

            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

// Pitches
.pitch{
    background-color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;

    .dp-div{
        img{
            height: 4rem;
            width: 4rem;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }

    .pitch-header{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        .time{
            font-size: 1.2rem;
        }
        .full-name{
            color: $primary-color;
            font-weight: 600;
        }
        .username{
            font-weight: 300;
            font-size: 1.3rem;
        }
    }

    .pitch-content{
        font-size: 1.4rem;
    }

    .pitch-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem !important;
        color: grey;

        &>div{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 2.5rem;
            i{
                margin-right: 0.4rem;
            }
        }
    }
}

.comments-div{
    margin-left: -1.2rem;
}
.comment-body{
    margin-left: 4.8rem;
    .comment-content{
        font-size: 1.2rem;
    }
}

// Profile
.profile-content{
    margin-top: 15vh;
    background-color: white;
    border-radius: 1rem;
    padding: 4rem;
    font-size: 1.2rem;
    .profile-header{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 3rem;
        &>div{
            margin-right: 1rem;
        }
    }
    h3{
        color: $primary-color;
    }
}

#dp img{
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

// Footer selected.
.ftr-highlight{
    color: $secondary-color;
}

@media screen and (max-width:768px){
    .navdiv{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        &>div{
            transform: scale(0.8);
            margin: 0;
        }
    }
    .categories{
        display: none;
    }
}

.sign-form, .new {
    margin-top: 15vh;
    font-size: 1.5rem;
    color: $primary-color;
    .col-8{
        background-color: white;
        border-radius: 1rem;
        padding: 4rem;

        p{
            color: $darks;
            a {
                color: $secondary-color;
            }
        }

        #submit{
            background-color: white;
            border: 1px solid $primary-color;
            color: $primary-color;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            transition: $transition;
            &:hover{
                background-color: $primary-color;
                color: white;
            }
        }
        label{
            font-weight: 500;
            font-family: $theme-font;
        }
    }
    .sign-title{
        color: $darks;
    }
}

img{
    object-fit: cover !important;
}

.new{
    margin-top: 0;
    margin-left: 3rem;
    margin-right: 2rem;
    width: 100%;
    label{
        font-weight: 300;
    }
    select{
        font-size: 1.5rem;
    }
    textarea{
        font-size: 1.5rem;
    }
    #submit{
        background-color: white;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        transition: $transition;

        &:hover {
            background-color: $primary-color;
            color: white;
    }}}

    #category-title{
        color: white;
    }
    #cat{
        background-color: $primary-color;
    }

.comments, .likes, .dislikes{
    a{
        display: flex;
        text-decoration: none;
        color: grey;
        transition: $transition;
        &:hover{
            color: $secondary-color;
        }
    }
}
.comment-field{
    textarea {
        font-size: 1.5rem;
    }
    #submit {
        background-color: white;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        transition: $transition;
        
        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}
#names{
    border-left: 3px solid $primary-color;
    padding-left: 2rem;padding-top: 4rem;
    #submit{
        background-color: white;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        transition: $transition;

        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}
#full-name{
    color: $darks;
    font-size: 2.5rem;
    font-weight: bold;
}
#username{
    font-size: 1.5rem;
}

.error {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: $transition;
    &:hover {
        transform: scale(1.025);
    }
}

.error>div {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.error h4 {
    color: grey;
}

.oops {
    font-weight: 800;
    color: $primary-color;
    font-size: 6rem;
}