@import url(https://fonts.googleapis.com/css?family=Sacramento:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  font-family: "Poppins", sans-serif;
  background-color: #EEF1F6;
}

.navbar {
  background-color: white;
  position: fixed;
}

.navdiv {
  background: white;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navdiv .logodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navdiv .logodiv .logo {
  font-size: 4rem;
  color: #4A5FD9;
}

.navdiv .logodiv .name {
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  color: #4A5FD9;
}

.navdiv .logout-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navdiv .logout-div .logout {
  background-color: #4A5FD9;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.navdiv .logout-div .logout:hover {
  background-color: white;
  border: 2px solid #4A5FD9;
  color: #4A5FD9;
}

.navdiv .logout-div .profile img {
  height: 4rem;
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
  color: grey;
  background-color: white;
}

.content-wrapper {
  margin-top: 20vh;
  position: relative;
}

.sidebar {
  position: fixed;
}

.profile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 0.5rem;
}

.profile-div:hover {
  cursor: pointer;
}

.profile-div .profile-pic img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}

.profile-div .profile-name {
  line-height: 1rem;
  font-size: 1.5rem;
  color: #474259;
}

.profile-div .profile-name .full-name {
  font-weight: 600;
}

.profile-div .profile-name .username {
  font-weight: 300;
}

.categories {
  background-color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: #474259;
}

.categories .categories-title {
  border-bottom: 1px solid #e0e0e0;
  font-weight: 700;
}

.categories .category {
  border-bottom: 1px solid #e0e0e0;
  font-weight: 300;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.categories .category:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.categories .active-category {
  color: #4A5FD9;
  border-left: 3px solid #4A5FD9;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */