$darks: #474259;
$primary-color: #4A5FD9;
$secondary-color: #F199F2;
$bg-color: #EEF1F6;

@import url(https://fonts.googleapis.com/css?family=Sacramento:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    background-color: $bg-color;
}
.navbar{
    background-color: white;
    position: fixed;
}
.navdiv{
    background: white;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logodiv {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;

        .logo {
            font-size: 4rem;
            color: $primary-color;
        }

        .name {
            font-size: 4rem;
            font-family: 'Sacramento', cursive;
            color: $primary-color;
        }
    }
    .logout-div{
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        .logout{
            background-color: $primary-color;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            height: 4rem;
            border-radius: 0.5rem;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
            &:hover{
                background-color: white;
                border: 2px solid $primary-color;
                color: $primary-color;
                
            }
        }
        .profile{
            img{
                height: 4rem;
                width: 4rem;
                object-fit: cover;
                overflow: hidden;
                border-radius: 0.5rem;
            }
        }
    }
}

// Footer
.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    box-shadow: 0 0 3px grey;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    color: grey;
    background-color: white;
}