{% extends 'index.html' %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block pitches %} 
{{ super() }}
<div class="pitch p-4 mb-3">
    <div class="pitch-header">
        <div class="dp-div">
            <img src="{{url_for('static', filename=pitch.user.profile_pic_path)}}" />
        </div>
        <div class="mx-3">
            <div class="names">
                <span class="full-name">{{ pitch.user.fname }} {{ pitch.user.lname }}</span>
                <span class="username">@{{ pitch.user.username }}</span>
            </div>
            <div class="time">{{pitch.posted.strftime('%I:%M %p')}}</div>
        </div>
    </div>
    <div class="pitch-content">
        <p>
            {{ pitch.pitch }}
        </p>
    </div>
    <div class="pitch-footer">
        <div class="likes">
            <div class="thumbs-up">
                <i class="fas fa-thumbs-up"></i>
            </div>
            <div class="likes-count">{{ pitch.likes }}</div>
        </div>
        <div class="dislikes">
            <div class="thumbs-down">
                <i class="fas fa-thumbs-down"></i>
            </div>
            <div class="dislikes-count">{{pitch.dislikes}}</div>
        </div>
        <div class="comments">
            <div>
                <i class="fas fa-comment"></i>
            </div>
            <div>{{pitch.comments.count()}}</div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="comment-field">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    <hr>

    <div class="comments-div">

        {% for comment in comments %}
        <div class="comment px-4 mb-2">
            <div class="pitch-header">
                <div class="dp-div">
                    <img src="{{url_for('static', filename=comment.user.profile_pic_path)}}" />
                </div>
                <div class="mx-3">
                    <div class="names">
                        <span class="full-name">{{comment.user.fname}} {{comment.user.lname}}</span>
                        <span class="username">@{{comment.user.username}}</span>
                    </div>
                    <div class="time">{{comment.posted.strftime('%I:%M %p')}}</div>
                </div>
            </div>
            <div class="comment-body">
                <div class="comment-content">
                    <p>
                        {{comment.comment}}
                    </p>
                </div>
                <div class="pitch-footer">
                    <div class="likes">
                        <div class="thumbs-up">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <div class="likes-count">{{comment.likes}}</div>
                    </div>
                    <div class="dislikes">
                        <div class="thumbs-down">
                            <i class="fas fa-thumbs-down"></i>
                        </div>
                        <div class="dislikes-count">{{comment.dislikes}}</div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}