{% extends 'base.html' %} {% block main %} {{ super() }}
<div class="container">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-3 hidden-sm">
                <div class="sidebar">
                    {% if current_user.is_authenticated %}
                    <div class="profile-div p-4">
                        <div class="profile-pic">
                            <img src="{{url_for('static', filename=current_user.profile_pic_path)}}" />
                        </div>
                        <div class="profile-name mx-3">
                            <p class="full-name my-1">{{ current_user.fname.capitalize() }} {{ current_user.lname.capitalize() }}</p>
                            <p class="username my-1">@{{current_user.username.lower()}}</p>
                            <div class="py-2"><a href="{{url_for('main.profile', id=current_user.id)}}"> View Profile</a></div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="categories my-5 py-3 pb-5">
                        <div class="categories-title p-3 text-uppercase">Categories</div>
                        <a href="{{url_for('main.categories', id=1)}}" ><div class="category p-3">Interview Pitches</div></a>
                        <a href="{{url_for('main.categories', id=2)}}" ><div class="category p-3">Pickup Lines</div></a>
                        <a href="{{url_for('main.categories', id=3)}}" ><div class="category p-3">Product Piches</div></a>
                        <a href="{{url_for('main.categories', id=4)}}" ><div class="category p-3">Promotion Pitches</div></a>
                        <a href="{{url_for('main.categories', id=5)}}" ><div class="category p-3">Social Gathering</div></a>
                        <a href="{{url_for('main.categories', id=6)}}" ><div class="category p-3">New Employee</div></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                {% block pitches %}{% endblock %}
                {% block error %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}