<div class="container-fluid navbar">
	<div class="navdiv">
		<a href="{{ url_for('main.index') }}">
            <div class="logodiv mx-4">
			<div class="logo mb-3"><i class="fas fa-headset"></i></div>
			<div class="name mx-1">Pitcherr</div>
		</div>
        </a>
		<div class="logout-div">
			{% if current_user.is_authenticated %}
                <div class="logout-btn">
				<form action="{{url_for('auth.logout')}}">
                    <button type="submit" class="btn logout">Log Out</button>
                </form>
			</div>
            <div class="profile mx-4">
                <img src="{{url_for('static', filename=current_user.profile_pic_path)}}">
            </div>
            {% else %}
            <div class="logout-btn">
				<form action="{{url_for('auth.login')}}">
                    <button type="submit" class="btn logout">Log In</button>
                </form>
			</div>
            {% endif %}
		</div>
	</div>
</div>
