{% extends 'base.html' %}{% block main %} {{ super() }}

<div class="container">
    <div class="profile-content">
        <div class="profile-header">
            <div id="dp">
                <img src="{{url_for('static', filename=current_user.profile_pic_path)}}" />
            </div>
            <div id="names">
                <div id="full-name">{{current_user.fname}} {{current_user.lname}}</div>
                <div id="username">@{{current_user.username}}</div>
            </div>
        </div>
        <div id="bio">
            <h3>Bio</h3>
            <hr>
            {%if current_user.bio %}
                <p>{{current_user.bio}}</p>
            {% else %}
            <p>No bio yet.</p>
            {% endif %}
        </div>

        <div id="email">
            <h3>Email</h3>
            <hr>
            <p>{{current_user.email}}</p>
        </div>

        <div id="pitches">
            <h3>My Pitches</h3>
            <hr>
            <div class="pitch">
                <div class="pitch-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In facere nam numquam odit exercitationem ex voluptatem repellat dicta ratione corporis, distinctio laborum quo sapiente possimus ad necessitatibus assumenda minus est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ratione exercitationem nam, necessitatibus, neque vitae libero nisi quisquam dolores explicabo minima quo, dolore alias illo harum minus debitis fuga inventore?</p>
                </div>
                <div class="pitch-footer">
						<div class="likes">
							<div class="thumbs-up">
								<i class="fas fa-thumbs-up"></i>
							</div>
							<div class="likes-count">143.4K</div>
						</div>
						<div class="dislikes">
							<div class="thumbs-down">
								<i class="fas fa-thumbs-down"></i>
							</div>
							<div class="dislikes-count">1.2K</div>
						</div>
						<div class="comments">
							<div>
								<i class="fas fa-comment"></i>
							</div>
							<div>11.7K</div>
						</div>
					</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}